<h1>Import reservations</h1>
<%= form_tag import_reservations_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<div>
<%= link_to "Voir les indicateurs", show_indicators_reservations_path %>
</div>
